   {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    font-family: Arial, sans-serif;
   }
 body {
    background: #f4f4f4;
    color: #333;
 }
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0a3d62;
    color: white;
 }
 nav ul {
    display: flex;
    list-style: none
 }
 nav ul li a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
 }
 .hero {
    text-align: center;
    padding: 60px 20px;
    background: white;
 }
 .hero img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
 }
 .hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0a3d62;
    color: white;
    text-decoration: none;
    border-radius: 5px;
 }
 .section {
    padding: 50px 20px;
    text-align: center;
 }
 .section h2 {
    margin-bottom: 20px;
 }
 .dark {
    background: #0a3d62;
    color: white;
 }
 .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
 }
 .card {
    background: white;
    color: #333;
    padding: 20px;
    width: 200px;
    border-radiius: 8px;
 }
 .gallery {
    display: fax;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
 }
 .gallery img {
    width: 250px;
    border-radius: 8px;
 }
 form {
    max-width: 400px;
    margin: auto;
 }
 form input, form textarea {
    width:100%;
    padding: 10px;
    margin: 10px 0;
 }
 form button {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #0a3d62;
    border: none;
    font-weith: bold;
 }
 footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
 }
 @media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: colum;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
 }
